<div th:fragment="navbar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="/home">게시판
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                </svg>
            </a>
            <!-- 로그아웃 상태 -->
            <div sec:authorize="isAnonymous">
                <a href="/signup" class="btn btn-outline-success m-1">회원가입</a>
                <a href="/login" class="btn btn-outline-success m-1">로그인</a>
            </div>
            <!-- 로그인 상태 -->
            <div sec:authorize="isAuthenticated()">
                <span class="navbar-text me-3">
                    <strong sec:authentication="principal.nickname"></strong>님 환영합니다
                </span>
                <a href="" class="btn btn-outline-success m-1">마이페이지</a>
                <a href="/logout" class="btn btn-outline-success m-1">로그아웃</a>
            </div>
        </div>
    </nav>
</div>
